
.blur{
    filter: blur(5px);
}

@font-face {
    font-family: 'bebas';
    src: url("./Righteous-Regular.ttf") format('truetype');
}

html{
    height: 100vh;
    font-family: "bebas";
    background-image: url(/wave.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

body{
    margin: 0;
    padding: 0;
}

/*########## Options ###########*/
.game-options-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
    background-color: rgb(183, 192, 216);
    width: 0;
    height: 0;
    overflow: hidden;
    border-radius: 3rem;
    box-shadow: 0 10px 20px rgb(52, 54, 76);
}

.game-options-container.active{
    width: 50%;
    height: auto;
    transition: ease-out 0.7s;
}

.board-size-option{
    min-width: 50%;
}

.board-size-option p{
    font-size: 1.5rem;
    margin: 3rem auto 3rem auto;
    color:rgb(34, 35, 49);
    text-align: center;
    min-width: 100%;
}

.sizes-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    padding: 0;
    max-width: 60%;
}

.sizes-card{
    width: 6rem;
    text-align: center;
    list-style-type: none;
    margin: 0.5rem;
    padding: 1rem;
    background-color: rgb(52, 54, 76);
    color: white;
    border-radius: 2rem;
    box-shadow: 0 10px 20px rgb(34, 35, 49);
    cursor: pointer;
    transition: ease-in 0.3s;
}

.sizes-card:hover{
    background-color: white;
    color: rgb(52, 54, 76);
    transition: ease-in 0.3s;
}

.sizes-card.selected{
    background-color: white;
    color: rgb(52, 54, 76);
}

.bottom-cards{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 2rem;
}

.timer-option{
    min-width: 50%;
}

.timer-option p{
    font-size: 1.5rem;
    margin: 2rem auto 2rem auto;
    min-width: 100%;
    color:rgb(34, 35, 49);
    text-align: center;
}

.timer-option label{
    font-size: 1.5rem;
    color:rgb(34, 35, 49);
    margin: 0.5rem;
}

.timer-card{
    width: 6rem;
    text-align: center;
    list-style-type: none;
    margin: 0.5rem;
    padding: 1rem;
    background-color: rgb(52, 54, 76);
    color: white;
    border-radius: 2rem;
    box-shadow: 0 10px 20px rgb(34, 35, 49);
    cursor: pointer;
    transition: ease-in 0.3s;
}

.timer-card:hover{
    background-color: white;
    color: rgb(52, 54, 76);
    transition: ease-in 0.3s;
}

.timer-card.selected{
    background-color: white;
    color: rgb(52, 54, 76);
}

.start-game-button p{
    font-size: 1.5rem;
    color: rgb(34, 35, 49);
    margin: 2rem;
}

.start-game{
    background-color: gray;
    color: white;
    font-family: "bebas";
    padding: 0.5em;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 1.5em;
    border: none;
    box-shadow: 0px 0px 20px rgb(34, 35, 49);
    width: 10em;
    height: 3em;
    margin-bottom: 5rem;
    transition: ease-in 0.3s;
    cursor: not-allowed;
}

.start-game.enabled{
    background-color: rgb(52, 54, 76);
}

.start-game.enabled:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(52, 54, 76);
    transition: ease-in 0.3s;
}


/*########## Game canvas ###########*/

#canvas{
    border-radius: 3.5rem;
    display: block;
    position: relative;
    margin: auto;
    margin-right: 0;
    transition: ease-in 0.3s;
    box-shadow: 0 10px 20px rgb(52, 54, 76);
}

.canvas-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.game-container{
    margin: auto;
    margin-top: 5rem;
}

#timer{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 10vw;
    position: relative;
    width: 10%;
    align-items: center;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(183, 192, 216);
    border-radius: 2.5rem;
    box-shadow: 0 10px 20px rgb(52, 54, 76);
    color:rgb(52, 54, 76);
    transition: ease-in 0.3s;
}


.pass-button{
    background: rgb(52, 54, 76);
    color: white;
    font-family: "bebas";
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 15px;
    font-weight: 500;
    border-radius: 1.5em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(34, 35, 49);
    overflow: hidden;
    position: relative;
    width: 10em;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pass-button .button-icon{
    background: white;
    color: rgb(52, 54, 76);
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 2.25em;
    width: 2.2em;
    border-radius: 1.6rem;
    box-shadow: 0.1em 0.1em 0.6em 0.2em rgb(34, 35, 49);
    right: 0.3em;
    transition: all 0.3s;
}

.button-icon .circle{
    background-color: rgb(52, 54, 76);
    width: 1.5em;
    height: 1.5em;
    border-radius: 1.5em;
    transition: ease-in 0.5s;
}

.circle::after{
    content: " ";
    background-color: rgb(52, 54, 76);
    display: block;
    border-radius: 1.5em;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    transition: ease-in 0.3s;
}

.circle::before{
    content: " ";
    background-color: rgb(52, 54, 76);
    display: block;
    border-radius: 1.5em;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    transition: ease-in 0.3s;
}

.pass-button:hover .circle::after{
    transform: translateX(-45px);
}

.pass-button:hover .circle::before{
    transform: translateX(45px);
}

.surrender-button:hover .circle::after{
    transform: translateX(-45px);
}

.surrender-button:hover .circle::before{
    transform: translateX(45px);
}


.pass-button:hover .button-icon{
    width: calc(100% - 0.6em);
}

.pass-button:active .icon{
    transform: scale(0.95);
}

.surrender-button{
    background: rgb(52, 54, 76);
    color: white;
    font-family: "bebas";
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 15px;
    font-weight: 500;
    border-radius: 1.5em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(34, 35, 49);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    width: 10em;
    padding-right: 3.3em;
    cursor: pointer;
}

.surrender-button .button-icon{
    background: white;
    color: rgb(52, 54, 76);
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.25em;
    width: 2.2em;
    border-radius: 1.6em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em rgb(34, 35, 49);
    right: 0.3em;
    transition: all 0.3s;
}

.surrender-button:hover .button-icon{
    width: calc(100% - 0.6em);
}

.surrender-button:active .icon{
    transform: scale(0.95);
}

.yes-button, .no-button{
    font-family: 'bebas';
    margin-right : 10px;
    padding : 10px 20px;
    font-size : 1.5rem;
    border-radius : 10px;
    background-color : rgb(52, 54, 76);
    color : white;
    border : none;
    cursor : pointer;
    transition: ease-in 0.3s;
}

.yes-button:hover, .no-button:hover{
    color: rgb(52, 54, 76);
    background-color: white;
    transition: ease-in 0.3s;
}

.play-again-button{
    font-family: 'bebas';
    color:white;
    background-color: rgb(52, 54, 76);
    border: none;
    border-radius: 15px;
    display: block;
    position: absolute;
    padding: 20px;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    box-shadow: 0 0 20px rgb(52, 54, 76);
    transition: ease-in 0.3s;
    margin-top: 8rem;
}

.play-again-button:hover{
    background-color: white;
    color:rgb(52, 54, 76);
}

.pass-message{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(52, 54, 76, 0.8);
    color: white;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    border-radius: 25px;
    z-index: 999;
    opacity: 0;
    transition: ease-in 0.5s;
}

.sure-message{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(52, 54, 76, 0.6);
    color: white;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    border-radius: 25px;
    z-index: 999;
    opacity: 0;
    transition: ease-in 0.3s;
}

.surr-message{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(52, 54, 76, 0.6);
    color: white;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    border-radius: 25px;
    z-index: 999;
    opacity: 0;
    transition: ease-in 0.3s;
}

.exit-message{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(52, 54, 76, 0.6);
    color: white;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    border-radius: 25px;
    z-index: 999;
    opacity: 0;
    transition: ease-in 0.3s;
}

.loading-screen{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    margin: auto;
}

.loading-screen-svg{
    margin: auto;
}

.loading-screen p{
    font-size: 3rem;
    color:rgb(52, 54, 76);
    margin: 0;
    text-align: center;
}

/*############ Navigatie ##############*/

.main-nav{
    position: relative;
    margin: auto;
    width: 40%;
    margin-top: 2rem;
}

.menu-ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(183, 192, 216);
    border-radius: 5rem;
    padding: 0;
    height: 100px;
    box-shadow: 0 8px 20px rgb(52, 54, 76);
}

.menu-ul .menu-link{
    list-style-type: none;
    padding: 1em;
    display: flex;
}

.menu-ul .menu-link a{
    text-decoration: none;
    color: white;
}

/*########### Home Link ###############*/

.menu-home{
    list-style-type: none;
    width: 80px;
    height: 80px;
    background-color:rgb(52, 54, 76);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(34, 35, 49);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
}

.menu-card.selected .menu-home{
    background-color: white;
}

.menu-card.selected .home-icon path{
    fill: rgb(34, 35, 49);
}

.menu-card.selected .menu-home::before{
    color: rgb(34, 35, 49);
}

.home-icon{
    width: 50px;
    height: 50px;
    transition-duration: .3s;
    margin: 10px 0 0 9px;
}

.home-icon path{
    fill: white;
    transform: scale(2);
}

.menu-home:hover{
    width: 160px;
    border-radius: 50px;
    transition-duration: .3s;
    align-items: center;
}

.menu-home:hover .home-icon{
    transition-duration: .3s;
    transform: translateY(90%);
}

.menu-home::before{
    position: absolute;
    top: -10px;
    content: "Home";
    color: white;
    transition-duration: .3s;
    font-size: 10px;
    opacity: 0;
}

.menu-home:hover::before{
    opacity: 1;
    transform: translateY(30px);
    font-size: 25px;
    transition-duration: .3s;
}


/*########### Go Link ###############*/

.menu-go{
    list-style-type: none;
    width: 80px;
    height: 80px;
    background-color:rgb(52, 54, 76);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(34, 35, 49);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
}

.menu-card.selected .menu-go{
    background-color: white;
}

.menu-card.selected .go-icon path{
    fill: rgb(34, 35, 49);
}

.menu-card.selected .go-icon circle{
    fill: rgb(34, 35, 49);
}

.menu-card.selected .menu-go::before{
    color: rgb(34, 35, 49);
}

.go-icon{
    width: 50px;
    height: 50px;
    transition-duration: .3s;
    margin: 3.4px 0px 0 2.3px;
}

.go-icon path{
    fill: white;
    transform: scale(2);
}

.go-icon circle{
    fill: white;
    transform: scale(2);
}

.menu-go:hover{
    width: 160px;
    border-radius: 50px;
    transition-duration: .3s;
    align-items: center;
}

.menu-go:hover .go-icon{
    transition-duration: .3s;
    transform: translateY(90%);
}

.menu-go::before{
    position: absolute;
    top: -10px;
    content: "Play Now";
    color: white;
    transition-duration: .3s;
    font-size: 10px;
    opacity: 0;
}

.menu-go:hover::before{
    opacity: 1;
    font-size: 25px;
    transform: translateY(30px);
    transition-duration: .3s;
}


/*########### About Link ###############*/

.menu-about{
    list-style-type: none;
    width: 80px;
    height: 80px;
    background-color:rgb(52, 54, 76);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(34, 35, 49);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
}

.menu-card.selected .menu-about{
    background-color: white;
}

.menu-card.selected .about-icon path{
    fill: rgb(34, 35, 49);
}

.menu-card.selected .about-icon circle{
    fill: rgb(34, 35, 49);
}

.menu-card.selected .menu-about::before{
    color: rgb(34, 35, 49);
}

.about-icon{
    width: 50px;
    height: 50px;
    transition-duration: .3s;
    margin: 4px 0 0 1.5px;
}

.about-icon path{
    fill: white;
    transform: scale(2);
}

.about-icon circle{
    fill: white;
    transform: scale(2);
}

.menu-about:hover{
    width: 160px;
    border-radius: 50px;
    transition-duration: .3s;
    align-items: center;
}

.menu-about:hover .about-icon{
    transition-duration: .3s;
    transform: translateY(90%);
}

.menu-about::before{
    position: absolute;
    top: -10px;
    content: "Rules";
    color: white;
    transition-duration: .3s;
    font-size: 10px;
    opacity: 0;
}

.menu-about:hover::before{
    opacity: 1;
    font-size: 25px;
    transform: translateY(30px);
    transition-duration: .3s;
}


/*######### Title #########*/

.main-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(52, 54, 76);
    margin: auto;
    margin-top: 5vh;
    width: 50%;
    text-align: center;
    text-wrap: balance
}

.master-title{
    display: flex;
    width: 100%;
    align-items: center;
}

.title{
    font-size: 10rem;
    margin: 0;
    padding: 5rem 0 5% 0;
    display: inline-block;
}

.title-underline{
    width: 0;
    height: 1rem;
    background:rgb(52, 54, 76);
    margin: 0;
    border-radius: 0.3rem;
}

.char {
    display: inline-block;
}

.main-description{
    margin-top: 5rem;
    display: inline-block;
    font-size: 2rem;
    text-wrap: balance;
    text-align: center;
}

.word{
    display: inline-block;
}

.goboard-icon{
    position: relative;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    margin-left: 4rem;
}

.icon-rows{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.icon-columns{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.row1, .row2, .row3{
    background:rgb(52, 54, 76);
    width: 100%;
    height: 15px;
    margin: 0 auto;
    border-radius: 0.3rem;
    z-index: 1;
}

.col1, .col2, .col3{
    background:rgb(52, 54, 76);
    width: 15px;
    height: 100%;
    margin: auto 0;
    border-radius: 0.3rem;
    z-index: 1;
}

.board-stone1, .board-stone2{
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: scale(0);
    transform-origin: center;
    z-index: 99;
    box-shadow: 0px 0px 20px rgb(34, 35, 49);
}

.board-stone1{
    left: 65%;
    top: 10%;
    background-color: rgb(23, 23, 29);
}

.board-stone2{
    left: 11%;
    top: 65%;
    background-color: white;
}

